<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="base-dir">./log</Property>
        <Property name="pattern">[%d{HH:mm:ss.SSS}] %-5level - %c (%t)%n%msg%n%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
        <RollingFile
            name="file"
            fileName="${base-dir}/00000000.log"
            filePattern="${base-dir}/%d{yyyyMMdd-HHmmss}-%i.log">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>